<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New login - Cattle</title>
    </head>
    <body style="margin: 0; padding: 0; font-family: 'Mulish', Arial, sans-serif; background-color: #f5f5f5">
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td align="center" style="padding: 20px 0">
                    <table
                        width="320"
                        cellpadding="0"
                        cellspacing="0"
                        border="0"
                        style="background-color: #ffffff; padding: 20px; border-radius: 10px"
                    >
                        <tr>
                            <td align="center" style="font-size: 20px; font-weight: 700">Hello p.pusernamep.p!</td>
                        </tr>
                        <tr>
                            <td align="center" style="padding: 10px 0; font-size: 14px; color: #555555">
                                We detected a new login to your account. If this wasn’t you, please
                                <a href="p.presetpassp.p">change your password</a> immediately.
                            </td>
                        </tr>
                        <tr>
                            <a href="https://maps.google.com/?q=Kiew" target="_blank">
                                <img
                                    src="https://maps.googleapis.com/maps/api/staticmap?center=p.pplacep.p&size=300x300&&key=AIzaSyDqjnmsLhzG44Fff4VSesXDPOVnbh8rVXE"
                                    alt="View Map"
                                    style="width: 100%; max-width: 600px"
                                />
                            </a>
                            <p style="width: 100%; text-align: left; font-size: 12px; color: #3a3a3a; font-weight: 600">
                                p.pinfop.p
                            </p>
                        </tr>
                        <tr>
                            <td align="center" style="font-size: 12px; color: #999999; padding-top: 10px">
                                Cattle Team
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
